{% extends "base.html" %}
{% block content %}
   <h1>Control de la sala Hannibal</h1>
   <hr>
   <a href="{% url 'light_control' %}">
      <h3>Control de luces</h3>
   </a>
   <hr>
   <div>
      <h2>Skipeo de pasos</h2>
      <a href="{% url 'skip_step' "tablero_herramientas" %}"
         class="btn btn-outline-primary">Tablero herramientas</a>
      <br>
      <a href="{% url 'skip_step' "boton_licuadora" %}"
         class="btn btn-outline-primary">Boton licuadora</a>
      <br>
      <a href="{% url 'skip_step' "soporte_especieros" %}"
         class="btn btn-outline-primary">Soporte especieros</a>
      <br>
      <a href="{% url 'skip_step' "soporte_cuchillos" %}"
         class="btn btn-outline-primary">Soporte cuchillos</a>
      <br>
      <a href="{% url 'skip_step' "soporte_pies" %}"
         class="btn btn-outline-primary">Soporte pies (abre heladera)</a>
      <br>
      <a href="{% url 'skip_step' "teclado_heladera" %}"
         class="btn btn-outline-primary">Teclado de la heladera</a>
      <br>
      <a href="{% url 'skip_step' "cuadro" %}" class="btn btn-outline-primary">Cuadro dado vuelta</a>
      <br>
      <a href="{% url 'skip_step' "caldera" %}"
         class="btn btn-outline-primary">Resolucion de caldera [FIN DE JUEGO]</a>
      <br>
   </div>
   <hr>
   <div>
      <h2>Pasos resueltos</h2>
      {% for step, value in solved_steps.items %}
         {{ step }}:
         {% if value == True %}
            RESUELTO
         {% else %}
            NO RESUELTO
         {% endif %}
         <br>
      {% endfor %}
   </div>
   <hr>
   <h2>Control Grilletes</h2>
   <div>
      <a href="{% url 'liberar_grillete' 1 %}" class="btn btn-outline-primary">Liberar grillete 1</a>
      <a href="{% url 'liberar_grillete' 2 %}" class="btn btn-outline-primary">Liberar grillete 2</a>
      <a href="{% url 'liberar_grillete' 3 %}" class="btn btn-outline-primary">Liberar grillete 3</a>
      <a href="{% url 'liberar_grillete' 4 %}" class="btn btn-outline-primary">Liberar grillete 4</a>
   </div>
   <hr>
   <h2>Control bajomesada</h2>
   <div>
      <a href="{% url 'abrir_cajon' "C1" %}" class="btn btn-outline-primary">Abrir cajon 1</a>
      <a href="{% url 'abrir_cajon' "C2" %}" class="btn btn-outline-primary">Abrir cajon 2</a>
      <a href="{% url 'abrir_cajon' "C3" %}" class="btn btn-outline-primary">Abrir cajon 3</a>
   </div>
   <hr>
   <h3>Reinicio de sala</h3>
   <a href="{% url 'reset_game' %}" class="btn btn-outline-danger">Reiniciar sala</a>
   <h3>Inicio de sala</h3>
   <a href="{% url 'iniciar_sala' %}" class="btn btn-outline-success">Iniciar sala</a>
   <h3>Control volumen</h3>
   <h4>
      Radio
   </h4>
   <a href="{% url 'radio_vol_up' %}" class="btn btn-outline-primary">VOL UP</a>
   <a href="{% url 'radio_vol_down' %}" class="btn btn-outline-primary">VOL DOWN</a>
   <h4>
      Sistema de audio
   </h4>
   <a href="{% url 'sistema_audio_vol_up' %}"
      class="btn btn-outline-primary">VOL UP</a>
   <a href="{% url 'sistema_audio_vol_down' %}"
      class="btn btn-outline-primary">VOL DOWN</a>
{% endblock content %}
